body{
  height: 100vh;
}
.height-100 {
  height: 100vh;
}

.height-80 {
  height: 80vh;
}

.height-70 {
  height: 70vh;
}

.top-center {
  margin: 5% auto;
}

.margin-none {
  margin: 0px
}

.br-20 {
  border-radius: 20px;
}

.bl-20 {
  border-radius: 20px 0px 0px 20px;
}

.overflow-hidden {
  overflow: hidden;
}
.bg-green{
  background-color: #16a085;
}
.bg-success{
  background-color: #16a085 !important;
}
.font-white{
  color: white !important;
}
.mtable-2{
  line-height:30px !important;
}
.wrapper-jadwal{
  border: 2px solid #16a085;
  min-height: 110px;
  display: flex;
  overflow-x: auto;
  border-radius: 5px;

}
.wrapper-jadwal::-webkit-scrollbar{
}
.wrapper-jadwal .card-jadwal-pertandingan{
  min-width: 350px !important;
  height: 110px !important;
  line-height: 30px !important;
  margin-right: 10px;
}
.card-jadwal-pertandingan{
  border: 2px solid #16a085;
  border-radius: 5px;
}
.btn-outline-green{
  padding: 10px 20px;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  color:white;
  border-bottom: 2px solid #16a085;
}
.btn-outline-green:hover{
  color: #16a085;
  border-bottom: 2px solid white;
  transition: 0.8s;
  cursor: pointer;

}
.futsal{
  position: absolute;
  font-size: 28px;
  color: white;
  top: 30%;
  left: 20%;
}
.form-shadow{
  box-shadow: 7px 5px 19px 2px rgba(22,160,133,0.52) !important;
  -webkit-box-shadow: 7px 5px 19px 2px rgba(22,160,133,0.52) !important;
  -moz-box-shadow: 7px 5px 19px 2px rgba(22,160,133,0.52) !important;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .mobile-hide {
    display: none;
  }
}