body {
  height: 100vh;
}
.skeleton{
  animation: skeleton-loading 0.8s linear infinite alternate;
  background: #ddd;
  margin: 10px 0;
  border-radius: 4px;
}
.skeleton.text{
  width: 100%;
  height: 12px;
}
.skeleton.title{
  width: 100%;
  height: 20px;
  margin: 15px 10px;
}
.skeleton.avatar{
  width: 50%;
  height: 50px;
  border-radius: 50%;
}
.skeleton.thumbnail{
  width: 100px;
  height: 100px;
}

@keyframes skeleton-loading{
  0%{
    background-color: hsl(200, 20%, 70%);
  }
  100%{
    background-color: hsl(200, 20%, 95%);
  }
}
.height-100 {
  height: 100vh;
}

.height-80 {
  height: 80vh;
}

.height-70 {
  height: 70vh;
}

.top-center {
  margin: 5% auto;
}

.margin-none {
  margin: 0px
}

.br-20 {
  border-radius: 20px;
}
.br-50 {
  border-radius: 50% !important;
}
.text-link{
  color: rgb(255, 255, 255) !important;
}
.bl-20 {
  border-radius: 20px 0px 0px 20px;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-green {
  background-color: #16a085;
}

.bg-success {
  background-color: #16a085 !important;
}

.font-white {
  color: white !important;
}

.mtable-2 {
  line-height: 30px !important;
}

.wrapper-jadwal {
  min-height: 120px;
  display: flex;
  overflow-x: auto;
  border-radius: 5px;

}

.wrapper-jadwal::-webkit-scrollbar {}

.wrapper-jadwal .card-jadwal-pertandingan {
  min-width: 350px !important;
  height: 120px !important;
  line-height: 30px !important;
  margin-right: 10px;
}

.card-jadwal-pertandingan {
  border: 2px solid #16a085;
  border-radius: 5px;
}

.wrapper-hasil {
  min-height: 120px;
  display: flex;
  overflow-x: auto;
  border-radius: 5px;

}

.card-liga {
  border: 2px solid #16a085;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  min-height: 80px;
}
.card-liga-skeleton {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  min-height: 80px;
}

.lihat-detail-liga {
  position: absolute;
  z-index: 99;
  background-color: #16a085;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  color: white;
}

.card-liga:hover .lihat-detail-liga {
  visibility: visible;
}

.wrapper-hasil .card-hasil-pertandingan {
  min-width: 350px !important;
  height: 150px !important;
  line-height: 30px !important;
  margin-right: 10px;
}

.card-hasil-pertandingan {
  border: 2px solid #16a085;
  border-radius: 5px;
}

.btn-outline-green {
  padding: 10px 20px;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  border-bottom: 2px solid #16a085;
}

.btn-outline-green:hover {
  color: #16a085;
  border-bottom: 2px solid white;
  transition: 0.8s;
  cursor: pointer;

}

.futsal {
  position: absolute;
  font-size: 28px;
  color: white;
  top: 30%;
  left: 20%;
}

.form-shadow {
  box-shadow: 7px 5px 19px 2px rgba(22, 160, 133, 0.52) !important;
  -webkit-box-shadow: 7px 5px 19px 2px rgba(22, 160, 133, 0.52) !important;
  -moz-box-shadow: 7px 5px 19px 2px rgba(22, 160, 133, 0.52) !important;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .mobile-hide {
    display: none;
  }
}